In [79]:
import os
os.getcwd()

'/home/matthew/anaconda3/envs/insight/staycationLA/notebooks'

In [80]:
os.chdir('/home/matthew/anaconda3/envs/insight/staycationLA/notebooks')
os.getcwd()

'/home/matthew/anaconda3/envs/insight/staycationLA/notebooks'

In [81]:
#modified from https://github.com/giuseppegambino/Scraping-TripAdvisor-with-Python-2019/blob/master/tripadvisorSelenium.ipynb and https://stackoverflow.com/questions/53965295/selenium-beautifulsoup-python-loop-through-multiple-pages/53965437

In [82]:
#pip install selenium
#pip install bs4

In [83]:
import csv
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
import pandas as pd 
import requests
import pickle
import re
import numpy as np

In [84]:
# function to check if the button is on the page, to avoid miss-click problem
def check_exists_by_xpath(xpath):
    try:
        driver.find_element_by_xpath(xpath)
    except NoSuchElementException:
        return False
    return True

In [85]:
def scrape(driver, user):

    if (check_exists_by_xpath("//a[contains(@class, 'ui_tab social-profile-ProfileTab__ui_tab--3f5yN') and contains(@data-tab-name, 'Travel map')]")):
        # to open travel map tab
        driver.find_element_by_xpath("//a[contains(@class, 'ui_tab social-profile-ProfileTab__ui_tab--3f5yN') and contains(@data-tab-name, 'Travel map')]").click()
        time.sleep(1)
        
        driver.switch_to.window(driver.window_handles[1])
        mapURL = (driver.current_url)
        map_source = requests.get(mapURL)
        m = re.findall('''"flags":\[([a-z, "]*?)\],"name":"(.*?)"''', map_source.text)
        n = [(tag, place, user) for (tag, place) in m]
        df = pd.DataFrame(n, columns=["tag", "place", "user"])
        df.to_csv(r'../data/raw/user_LA_' + user + '.csv', index = False, header=True)
        #df.to_csv(r'/raw/user_LA_' + user + '.csv', index = False, header=True)
        driver.close()
        driver.switch_to.window(driver.window_handles[0])
    driver.close()

In [86]:
#load list of usernames from LA attraction reviews combine
with open('../data/processed/userlist_final.pkl', 'rb') as f:
    usernames2 = pickle.load(f)
len(usernames2)

80277

In [87]:
# converting list to array 
usernames3 = np.array(usernames2) 
len(usernames3)

80277

In [88]:
#remove duplicates
names=[ x for x in usernames3 if " " not in x ]
len(names)

80250

In [89]:
import glob
import os
os.chdir("/home/matthew/anaconda3/envs/insight/staycationLA/data/raw")
extension = 'csv'
all_users = [i for i in glob.glob('user_LA_*.{}'.format(extension))]
#print(all_users)

In [90]:
user_got = []

for string in all_users:
    string1 = str(string)       
    new_string = string1.replace("user_LA_", "")
    new_string2 = new_string.replace(".csv", "")
    user_got.append(new_string2)
len(user_got)

86161

In [91]:
import numpy as np
name_list = np.setdiff1d(names,user_got)
# yields the elements in `list_2` that are NOT in `list_1`
len(name_list)

1860

In [92]:
#split list in half to run two scrapers at same time
names1 = name_list[:len(name_list)//2]
names2 = name_list[len(name_list)//2:]

In [93]:
#split list in half to run two scrapers at same time
names3 = names2[:len(names2)//2]
names4 = names2[len(names2)//2:]

In [94]:
#split list in half to run two scrapers at same time
names5 = names4[:len(names4)//2]
names6 = names4[len(names4)//2:]

In [95]:
len(names1)

930

In [93]:
len(names2)

21726

In [96]:
os.chdir('/home/matthew/anaconda3/envs/insight/staycationLA/notebooks')
os.getcwd()

'/home/matthew/anaconda3/envs/insight/staycationLA/notebooks'

In [34]:
for user in names1:
    driver = webdriver.Chrome("/home/matthew/Downloads/chromedriver")
    if "https://" in user:
        # insert the tripadvisor's website of one attraction 
        driver.get(user)
        time.sleep(5)
        scrape(driver, user)
    else:
        # insert the tripadvisor's website of one attraction 
        driver.get("https://www.tripadvisor.com/Profile/" + user)
        time.sleep(5)
        scrape(driver, user)

KeyboardInterrupt:

In [17]:
for user in names2:
    driver = webdriver.Chrome("/home/matthew/Downloads/chromedriver")
    if "https://" in user:
        # insert the tripadvisor's website of one attraction 
        driver.get(user)
        time.sleep(5)
        scrape(driver, user)
    else:
        # insert the tripadvisor's website of one attraction 
        driver.get("https://www.tripadvisor.com/Profile/" + user)
        time.sleep(5)
        scrape(driver, user)

KeyboardInterrupt:

In [97]:
for user in names3:
    driver = webdriver.Chrome("/home/matthew/Downloads/chromedriver")
    # insert the tripadvisor's website of one attraction 
    driver.get("https://www.tripadvisor.com/Profile/" + user)
    time.sleep(5)
    scrape(driver, user)

In [144]:
for user in names4:
    driver = webdriver.Chrome("/home/matthew/Downloads/chromedriver")
    # insert the tripadvisor's website of one attraction 
    driver.get("https://www.tripadvisor.com/Profile/" + user)
    time.sleep(5)
    scrape(driver, user)

FileNotFoundError: [Errno 2] No such file or directory: '../data/raw/user_LA_mapkblue1.csv'

In [70]:
names5

array(['myleeann', 'mymarcosm', 'mymaschere', ..., 'shobit_jain',
       'shogsed', 'shohaela'], dtype='<U26')

In [71]:
for user in names6:
    driver = webdriver.Chrome("/home/matthew/Downloads/chromedriver")
    # insert the tripadvisor's website of one attraction 
    driver.get("https://www.tripadvisor.com/Profile/" + user)
    time.sleep(5)
    scrape(driver, user)

KeyboardInterrupt:

In [18]:
for user in names5:
    driver = webdriver.Chrome("/home/matthew/Downloads/chromedriver")
    # insert the tripadvisor's website of one attraction 
    driver.get("https://www.tripadvisor.com/Profile/" + user)
    time.sleep(5)
    scrape(driver, user)

KeyboardInterrupt:

In [156]:
#find last user I scraped before sending script to mehrdad
usernames2.index("ebs0303")

3440

In [ ]:
n = 3441
del usernames2[:n]
#print (usernames2)

In [149]:
for user in usernames2:
    # import the webdriver, chrome driver is recommended
    driver = webdriver.Chrome("/home/matthew/Downloads/chromedriver")
    # insert the tripadvisor's website of one attraction 
    driver.get("https://www.tripadvisor.com/Profile/" + user)
    time.sleep(5)
    scrape(driver)

KeyboardInterrupt:

In [ ]:
for user in usernames2:
    # import the webdriver, chrome driver is recommended
    driver = webdriver.Chrome("/home/matthew/Downloads/chromedriver")
    if "https://" in user:
        # insert the tripadvisor's website of one attraction 
        driver.get(user)
        time.sleep(5)
        scrape(driver)
    else:
        # insert the tripadvisor's website of one attraction 
        driver.get("https://www.tripadvisor.com/Profile/" + user)
        time.sleep(5)
        scrape(driver)

In [3]:
import glob
import os
os.chdir("/home/matthew/anaconda3/envs/insight/staycationLA/data/raw")
extension = 'csv'
all_filenames = [i for i in glob.glob('reviews_LA_usernames*.{}'.format(extension))]
#print(all_filenames)

In [4]:
print(all_filenames)

['reviews_LA_usernamesUCLA_Marina_Aquatic_Center.csv', 'reviews_LA_usernamesUCLA_Meteorite_Gallery.csv', 'reviews_LA_usernamesYouRaceLA.csv', 'reviews_LA_usernamesWisdome_LA.csv', 'reviews_LA_usernamesLAX_Firing_Range.csv', 'reviews_LA_usernamesLA_Waterfront.csv', 'reviews_LA_usernamesPlatform_LA.csv', 'reviews_LA_usernamesShuttle_to_LAX.csv', 'reviews_LA_usernamesLAX_Theme_Building.csv', 'reviews_LA_usernamesThe_Row_DTLA.csv', 'reviews_LA_usernamesLA96C.csv', 'reviews_LA_usernamesUCLA_Athletics_Hall_of_Fame.csv', 'reviews_LA_usernamesBeautycon_LA.csv', 'reviews_LA_usernamesLA_Fashion_District.csv', 'reviews_LA_usernamesLA_Coach_Inc.csv', 'reviews_LA_usernamesOUE_Skyspace_LA.csv', 'reviews_LA_usernamesLA_Terp_Market.csv', 'reviews_LA_usernamesPAINT_LAB.csv', 'reviews_LA_usernamesLA_County_Fair.csv', 'reviews_LA_usernamesUniversity_of_California_Los_Angeles_UCLA.csv']

In [4]:
import glob
import os
import pandas as pd

In [5]:
os.chdir("/home/matthew/anaconda3/envs/insight/staycationLA/data/raw")
extension = 'csv'
all_filenames = [i for i in glob.glob('user_LA_*.{}'.format(extension))]
#print(all_filenames)

In [7]:
#combine all files in the list
li = []

for filename in all_filenames:
    df = pd.read_csv(filename, index_col=None)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame2=frame.dropna(axis=0, how='any') #remove duplicate rows (just in case)
frame3=frame2[~frame2.place.str.contains(", USA")] #remove all domestic rows
frame4=frame3[~frame2.place.str.contains(", Canada")] 
#export to csv
frame4.to_csv( "../processed/LA_combined_user_travel_hist.csv", index=False, encoding='utf-8-sig')

<ipython-input-7-b4f6eb9c53fb>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  frame4=frame3[~frame2.place.str.contains(", Canada")]

In [8]:
df = pd.read_csv("../processed/LA_combined_user_travel_hist.csv", index_col=None)

In [9]:
df2=df.drop(['tag'], axis=1)
df3=df2.groupby('place').count()
df4=df3.sort_values(by='user', ascending=False)
df4

                             user
place
London, UK                  10729
Paris, France                9894
Rome, Italy                  8481
Amsterdam, The Netherlands   6808
Venice, Italy                6733
...                           ...
Hatzenport, Germany             1
Pyrga, Cyprus                   1
Pyrgaki, Greece                 1
Hattuvaara, Finland             1
San Ignacio, El Salvador        1

[45401 rows x 1 columns]

In [10]:
test=df2.groupby('user').count()
test.sort_values(by='place', ascending=False)

                  place
user
LuciferianJ        1471
3500daysontravel   1407
BCsaralou          1325
prw05              1264
Zalgariath         1261
...                 ...
Temp78                1
JQ71                  1
kelshanman            1
AnonymousGuests       1
Momsperception        1

[19536 rows x 1 columns]

In [11]:
df4=df3.sort_values(by='user', ascending=False)

In [12]:
print(df4.head(20))

                             user
place
London, UK                  10729
Paris, France                9894
Rome, Italy                  8481
Amsterdam, The Netherlands   6808
Venice, Italy                6733
Barcelona, Spain             6727
Florence, Italy              5634
Madrid, Spain                4792
Dublin, Ireland              4700
Sydney, Australia            4476
Vienna, Austria              4424
Milan, Italy                 4404
Munich, Germany              4390
Cancun, Mexico               4360
Hong Kong, China             4322
Bangkok, Thailand            4301
Berlin, Germany              4293
Prague, Czech Republic       4267
Singapore, Singapore         4122
Nice, France                 3988

In [13]:
print(df4[40:80])

                                 user
place
Playa del Carmen, Mexico         2696
Beijing, China                   2631
Seville, Spain                   2586
Bruges, Belgium                  2558
Cannes, France                   2461
Shanghai, China                  2457
Mexico City, Mexico              2438
Rio de Janeiro, Brazil           2433
Auckland Central, New Zealand    2407
Buenos Aires, Argentina          2384
Nassau, Bahamas                  2383
Brisbane, Australia              2380
Kuala Lumpur, Malaysia           2341
Pisa, Italy                      2290
Cologne, Germany                 2276
Cairo, Egypt                     2246
Tijuana, Mexico                  2202
Geneva, Switzerland              2129
Bath, UK                         2125
Vatican City, Vatican City       2113
Hamburg, Germany                 2063
Monte-Carlo, Monaco              2052
Liverpool, UK                    2043
Oxford, UK                       2007
Kyoto, Japan                     1982
Oslo, Norway                     1955
Ocho Rios, Jamaica               1946
Brighton, UK                     1944
Marrakech, Morocco               1922
Tulum, Mexico                    1916
Cape Town Central, South Africa  1878
Lucerne, Switzerland             1875
Dubrovnik, Croatia               1859
New Delhi, India                 1843
Malaga, Spain                    1831
Marseille, France                1816
Cairns, Australia                1801
Granada, Spain                   1788
Ho Chi Minh City, Vietnam        1773
Lima, Peru                       1770

In [14]:
print(df4.tail(10))

                          user
place
Pyli, Greece                 1
Pylos-Nestor, Greece         1
Haugastol, Norway            1
Pyramid Hill, Australia      1
Hatzor Haglilit, Israel      1
Hatzenport, Germany          1
Pyrga, Cyprus                1
Pyrgaki, Greece              1
Hattuvaara, Finland          1
San Ignacio, El Salvador     1

In [ ]:
https://www.tripadvisor.com/Attraction_Review-g32954-d3474440-Reviews-Seaside_Lagoon-Redondo_Beach_California.html

In [ ]:
https://www.tripadvisor.com/Attraction_Review-g32954-d3536275-Reviews-SEA_Lab-Redondo_Beach_California.html

In [ ]:
https://www.tripadvisor.com/Attraction_Review-g32954-d127306-Reviews-Redondo_Beach_Pier-Redondo_Beach_California.html

In [ ]:
https://www.tripadvisor.com/Attraction_Review-g32468-d4913474-Reviews-Hsi_Lai_Temple-Hacienda_Heights_California.html

In [233]:
pier = pd.read_csv("../raw/reviews_LA_Redondo_Beach_Pier.csv", index_col=None, names=['stars', 'title', 'text', 'user'])

In [215]:
sealab = pd.read_csv("../raw/reviews_LA_SEA_Lab.csv", index_col=None, names=['stars', 'title', 'text', 'user'])

In [216]:
lagoon = pd.read_csv("../raw/reviews_LA_Seaside_Lagoon.csv", index_col=None, names=['stars', 'title', 'text', 'user'])

In [237]:
tem = pd.read_csv("../raw/reviews_LA_Hsi_Lai_Temple.csv", index_col=None, names=['stars', 'title', 'text', 'user'])

In [249]:
tem2=tem.dropna(axis=0, how='any') #remove duplicate rows (just in case)

median_stars = 35

tem2.loc[tem2['stars'] > median_stars, 'review_category'] = 'Positive' 
tem2_pos = tem2[tem2['review_category'] == 'Positive']

In [250]:
pier2=pier.dropna(axis=0, how='any') #remove duplicate rows (just in case)

median_stars = 35

pier2.loc[pier2['stars'] > median_stars, 'review_category'] = 'Positive' 
pier2_pos = pier2[pier2['review_category'] == 'Positive']

In [220]:
sl2=sealab.dropna(axis=0, how='any') #remove duplicate rows (just in case)

median_stars = 35

sl2.loc[sl2['stars'] > median_stars, 'review_category'] = 'Positive' 
sl2_pos = sl2[sl2['review_category'] == 'Positive']

In [221]:
l2=lagoon.dropna(axis=0, how='any') #remove duplicate rows (just in case)

median_stars = 35

l2.loc[l2['stars'] > median_stars, 'review_category'] = 'Positive' 
l2_pos = l2[l2['review_category'] == 'Positive']

In [251]:
tem2users = tem2_pos['user'].tolist()

In [252]:
pier2users = pier2_pos['user'].tolist()

In [227]:
l2users = l2_pos['user'].tolist()

In [228]:
sl2users = sl2_pos['user'].tolist()

In [255]:
li = []

for user in sl2users:
    hist=df[df.user.str.contains(user)] 
    li.append(hist)
    
frame = pd.concat(li, axis=0, ignore_index=True)
frame2=frame.drop(['tag'], axis=1)
frame3=frame2.groupby('place').count()
frame4=frame3.sort_values(by='user', ascending=False)
frame4

                           user
place
Ixtapa, Mexico                2
Paris, France                 2
Acapulco, Mexico              1
London, UK                    1
Machu Picchu, Peru            1
Mazatlan, Mexico              1
Melbourne, Australia          1
Milan, Italy                  1
Pago Pago, American Samoa     1
Panama City, Panama           1
Pleiku, Vietnam               1
Prague, Czech Republic        1
Puerto Vallarta, Mexico       1
Quito, Ecuador                1
Salzburg, Austria             1
Semarang, Indonesia           1
Stirling, UK                  1
Sydney, Australia             1
Tijuana, Mexico               1
Tokyo, Japan                  1

In [230]:
frame

       tag                      place       user
0   "been"    Davao City, Philippines  Judpma012
1   "been"              Paris, France  Judpma012
2   "been"  Ho Chi Minh City, Vietnam  Judpma012
3   "been"               Tokyo, Japan  Judpma012
4   "been"            Pleiku, Vietnam  Judpma012
5   "been"           Kinsale, Ireland     MJH048
6   "been"                  Hayes, UK     MJH048
7   "been"        Canberra, Australia     MJH048
8   "been"      Balikpapan, Indonesia     MJH048
9   "been"              Gyal, Hungary     MJH048
10  "been"          Debrecen, Hungary     MJH048
11  "been"          Budapest, Hungary     MJH048
12  "been"      Aguas Calientes, Peru     MJH048
13  "been"          Salzburg, Austria     MJH048
14  "been"           Acapulco, Mexico     MJH048
15  "been"             Ixtapa, Mexico     MJH048
16  "been"       Melbourne, Australia     MJH048
17  "been"            Cuba, Caribbean     MJH048
18  "been"               Havana, Cuba     MJH048
19  "been"          Sydney, Australia     MJH048
20  "been"             Varadero, Cuba     MJH048
21  "been"             Quito, Ecuador     MJH048
22  "been"               Milan, Italy     MJH048
23  "been"            Vienna, Austria     MJH048
24  "been"    Puerto Vallarta, Mexico     MJH048
25  "been"           Mazatlan, Mexico     MJH048
26  "been"               Stirling, UK     MJH048
27  "been"            Tijuana, Mexico     MJH048
28  "been"        Panama City, Panama     MJH048
29  "been"                  Luton, UK     MJH048
30  "been"           Kenmare, Ireland     MJH048
31  "been"            Dingle, Ireland     MJH048
32  "been"     Prague, Czech Republic     MJH048
33  "been"              Venice, Italy     MJH048
34  "been"                Glasgow, UK     MJH048
35  "been"        Liberia, Costa Rica     MJH048
36  "been"               Brighton, UK     MJH048
37  "been"         Jakarta, Indonesia     MJH048
38  "been"              Paris, France     MJH048
39  "been"            Vecses, Hungary     MJH048
40  "been"                Cusco, Peru     MJH048
41  "been"         Machu Picchu, Peru     MJH048
42  "been"            Dublin, Ireland     MJH048
43  "been"                 Lima, Peru     MJH048
44  "been"                 London, UK     MJH048
45  "been"          Kilkenny, Ireland     MJH048
46  "been"        Semarang, Indonesia     MJH048
47  "been"             Ixtapa, Mexico     MJH048
48  "want"  Pago Pago, American Samoa     MJH048

In [256]:
print(frame4.head(20))

                           user
place
Ixtapa, Mexico                2
Paris, France                 2
Acapulco, Mexico              1
London, UK                    1
Machu Picchu, Peru            1
Mazatlan, Mexico              1
Melbourne, Australia          1
Milan, Italy                  1
Pago Pago, American Samoa     1
Panama City, Panama           1
Pleiku, Vietnam               1
Prague, Czech Republic        1
Puerto Vallarta, Mexico       1
Quito, Ecuador                1
Salzburg, Austria             1
Semarang, Indonesia           1
Stirling, UK                  1
Sydney, Australia             1
Tijuana, Mexico               1
Tokyo, Japan                  1

In [232]:
li = []

for user in l2users:
    hist=df[df.user.str.contains(user)] 
    li.append(hist)
    
frame = pd.concat(li, axis=0, ignore_index=True)
frame2=frame.drop(['tag'], axis=1)
frame3=frame2.groupby('place').count()
frame4=frame3.sort_values(by='user', ascending=False)
frame4

                           user
place
Davao City, Philippines       1
Ho Chi Minh City, Vietnam     1
Paris, France                 1
Pleiku, Vietnam               1
Tokyo, Japan                  1

In [257]:
li = []

for user in pier2users:
    hist=df[df.user.str.contains(user)] 
    li.append(hist)
    
frame = pd.concat(li, axis=0, ignore_index=True)
frame2=frame.drop(['tag'], axis=1)
frame3=frame2.groupby('place').count()
frame4=frame3.sort_values(by='user', ascending=False)
frame4

                            user
place
London, UK                    39
Paris, France                 38
Rome, Italy                   33
Amsterdam, The Netherlands    29
Barcelona, Spain              25
...                          ...
Manapouri, New Zealand         1
Chiapa de Corzo, Mexico        1
Malton, UK                     1
Chieti, Italy                  1
Aachen, Germany                1

[2979 rows x 1 columns]

In [258]:
print(frame4.head(20))

                            user
place
London, UK                    39
Paris, France                 38
Rome, Italy                   33
Amsterdam, The Netherlands    29
Barcelona, Spain              25
Venice, Italy                 25
Hong Kong, China              23
Dublin, Ireland               23
Vienna, Austria               22
Tokyo, Japan                  20
Madrid, Spain                 20
Prague, Czech Republic        19
Athens, Greece                19
Cancun, Mexico                18
Florence, Italy               18
Munich, Germany               18
Beijing, China                17
Istanbul, Turkey              17
Budapest, Hungary             16
Milan, Italy                  16

In [259]:
li = []

for user in tem2users:
    hist=df[df.user.str.contains(user)] 
    li.append(hist)
    
frame = pd.concat(li, axis=0, ignore_index=True)
frame2=frame.drop(['tag'], axis=1)
frame3=frame2.groupby('place').count()
frame4=frame3.sort_values(by='user', ascending=False)
frame4

                            user
place
Amsterdam, The Netherlands     6
Rome, Italy                    5
Paris, France                  5
Cancun, Mexico                 5
Seville, Spain                 4
...                          ...
Guercif, Morocco               1
Guefait, Morocco               1
Guatemala City, Guatemala      1
Gros Islet, St. Lucia          1
Lucca, Italy                   1

[540 rows x 1 columns]

In [264]:
print(frame4.head(25))

                             user
place
Amsterdam, The Netherlands      6
Rome, Italy                     5
Paris, France                   5
Cancun, Mexico                  5
Seville, Spain                  4
Copenhagen, Denmark             4
Venice, Italy                   4
Bora Bora, French Polynesia     4
Prague, Czech Republic          4
Barcelona, Spain                4
Puerto Vallarta, Mexico         4
Brussels, Belgium               4
Shibuya, Japan                  4
Chuo, Japan                     4
Lisbon, Portugal                4
Seoul, South Korea              4
Minato, Japan                   4
Taito, Japan                    4
Madrid, Spain                   4
Cabo San Lucas, Mexico          4
Hiroshima, Japan                3
Tulum, Mexico                   3
Cozumel, Mexico                 3
Tijuana, Mexico                 3
Tokyo, Japan                    3

In [15]:
trav_hist = pd.read_csv("../processed/LA_combined_user_travel_hist.csv", index_col=None)
trav_hist

            tag                         place         user
0        "been"                  Macau, China  Eddieg17467
1        "been"  Playa de las Americas, Spain  Eddieg17467
2        "been"              Kos Town, Greece  Eddieg17467
3        "been"               Dublin, Ireland  Eddieg17467
4        "been"                 Cork, Ireland  Eddieg17467
...         ...                           ...          ...
1072661  "been"              Hong Kong, China      buzz101
1072662  "been"   Dubai, United Arab Emirates      buzz101
1072663  "been"       St. Moritz, Switzerland      buzz101
1072664  "been"        Nuevo Vallarta, Mexico      buzz101
1072665  "been"             Salzburg, Austria      buzz101

[1072666 rows x 3 columns]

In [16]:
Ist=trav_hist[trav_hist['place'].str.contains('Istanbul')]

In [17]:
Ist

            tag             place              user
244      "been"  Istanbul, Turkey   bipbipbipbopbop
723      "want"  Istanbul, Turkey        TraceyC331
1140     "been"  Istanbul, Turkey  calitraveler1981
1202     "want"  Istanbul, Turkey      CaptSunshine
1484     "want"  Istanbul, Turkey       unabashedly
...         ...               ...               ...
1071848  "been"  Istanbul, Turkey       Tincognitus
1071942  "been"  Istanbul, Turkey     designerd0212
1072019  "want"  Istanbul, Turkey      Karena_Jax01
1072155  "want"  Istanbul, Turkey           SnmaGal
1072585  "want"  Istanbul, Turkey          sarsoora

[3516 rows x 3 columns]

In [18]:
ist_users = Ist['user'].tolist()

In [19]:
reviews = pd.read_csv("../processed/LA_combined_reviews.csv", index_col=None)
reviews

/home/matthew/anaconda3/envs/insight/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,stars,title,text,user,url,attraction
0,50,Outstanding Performing Arts Venue,LOVE the LPAC. It is an outstanding venue for ...,Kathleen M,NaN,LA_Lancaster_Performing_Arts_Center
1,50,Great show!,We had a great time seeing a lot of different ...,L. E. Cox,NaN,LA_Lancaster_Performing_Arts_Center
2,50,Wonderful Theater,We've been attending LPAC for many years for p...,Crystal R,NaN,LA_Lancaster_Performing_Arts_Center
3,50,An Amazing Performing Arts Center in the High ...,The LPAC is a remarkable experience. The LPAC ...,Archie M,NaN,LA_Lancaster_Performing_Arts_Center
4,50,State of the Art,State of the art building and equipment. World...,DestinationLancaster,NaN,LA_Lancaster_Performing_Arts_Center
...,...,...,...,...,...,...
139353,20,Warning! Warning! Tourist Trap Ahead!,"First, know that I am a big fan of aquariums--...",Pennfield,NaN,LA_Aquarium_of_the_Pacific
139354,20,Boring,"If you have been to Sea World, Boston's aquari...",MelodyMontreal,NaN,LA_Aquarium_of_the_Pacific
139355,50,Great for the kids,Took my 6yr old daughter there and she had the...,Experience10186,NaN,LA_Aquarium_of_the_Pacific
139356,40,Good Variety,This aquarium offers a nice selection of anima...,LIBRA17,NaN,LA_Aquarium_of_the_Pacific
139357,40,Good production,The Theater: Small but intimate. They sell sna...,https://www.tripadvisor.com/Profile/ILoveFoodComa,NaN,LA_24th_Street_Theatre_url

In [24]:
pos=reviews['stars'] > 35
pos_reviews=reviews[pos]

In [25]:
pos_reviews

,stars,title,text,user,url,attraction
0,50,Outstanding Performing Arts Venue,LOVE the LPAC. It is an outstanding venue for ...,Kathleen M,NaN,LA_Lancaster_Performing_Arts_Center
1,50,Great show!,We had a great time seeing a lot of different ...,L. E. Cox,NaN,LA_Lancaster_Performing_Arts_Center
2,50,Wonderful Theater,We've been attending LPAC for many years for p...,Crystal R,NaN,LA_Lancaster_Performing_Arts_Center
3,50,An Amazing Performing Arts Center in the High ...,The LPAC is a remarkable experience. The LPAC ...,Archie M,NaN,LA_Lancaster_Performing_Arts_Center
4,50,State of the Art,State of the art building and equipment. World...,DestinationLancaster,NaN,LA_Lancaster_Performing_Arts_Center
...,...,...,...,...,...,...
139351,50,"Fun, Educational and Totally Worth a Visit",With the huge crowds on the road and the high ...,BolsaChicaMoonDancer,NaN,LA_Aquarium_of_the_Pacific
139352,50,"A excellent collection of animals, and nice folks","I wonder, if the individual from Ohio was at a...",FarAway6039,NaN,LA_Aquarium_of_the_Pacific
139355,50,Great for the kids,Took my 6yr old daughter there and she had the...,Experience10186,NaN,LA_Aquarium_of_the_Pacific
139356,40,Good Variety,This aquarium offers a nice selection of anima...,LIBRA17,NaN,LA_Aquarium_of_the_Pacific
139357,40,Good production,The Theater: Small but intimate. They sell sna...,https://www.tripadvisor.com/Profile/ILoveFoodComa,NaN,LA_24th_Street_Theatre_url

In [29]:
pos_reviews2=pos_reviews.drop(['url'], axis=1)

In [31]:
pos_reviews2

,stars,title,text,user,attraction
0,50,Outstanding Performing Arts Venue,LOVE the LPAC. It is an outstanding venue for ...,Kathleen M,LA_Lancaster_Performing_Arts_Center
1,50,Great show!,We had a great time seeing a lot of different ...,L. E. Cox,LA_Lancaster_Performing_Arts_Center
2,50,Wonderful Theater,We've been attending LPAC for many years for p...,Crystal R,LA_Lancaster_Performing_Arts_Center
3,50,An Amazing Performing Arts Center in the High ...,The LPAC is a remarkable experience. The LPAC ...,Archie M,LA_Lancaster_Performing_Arts_Center
4,50,State of the Art,State of the art building and equipment. World...,DestinationLancaster,LA_Lancaster_Performing_Arts_Center
...,...,...,...,...,...
139351,50,"Fun, Educational and Totally Worth a Visit",With the huge crowds on the road and the high ...,BolsaChicaMoonDancer,LA_Aquarium_of_the_Pacific
139352,50,"A excellent collection of animals, and nice folks","I wonder, if the individual from Ohio was at a...",FarAway6039,LA_Aquarium_of_the_Pacific
139355,50,Great for the kids,Took my 6yr old daughter there and she had the...,Experience10186,LA_Aquarium_of_the_Pacific
139356,40,Good Variety,This aquarium offers a nice selection of anima...,LIBRA17,LA_Aquarium_of_the_Pacific
139357,40,Good production,The Theater: Small but intimate. They sell sna...,https://www.tripadvisor.com/Profile/ILoveFoodComa,LA_24th_Street_Theatre_url

In [ ]:
data['result'] = data['result'].map(lambda x: x.rstrip('https://www.tripadvisor.com/Profile/'))

In [34]:
pos_reviews2["user"] = pos_reviews2["user"].str.replace("https://www.tripadvisor.com/Profile/", "")

In [35]:
pos_reviews2

,stars,title,text,user,attraction
0,50,Outstanding Performing Arts Venue,LOVE the LPAC. It is an outstanding venue for ...,Kathleen M,LA_Lancaster_Performing_Arts_Center
1,50,Great show!,We had a great time seeing a lot of different ...,L. E. Cox,LA_Lancaster_Performing_Arts_Center
2,50,Wonderful Theater,We've been attending LPAC for many years for p...,Crystal R,LA_Lancaster_Performing_Arts_Center
3,50,An Amazing Performing Arts Center in the High ...,The LPAC is a remarkable experience. The LPAC ...,Archie M,LA_Lancaster_Performing_Arts_Center
4,50,State of the Art,State of the art building and equipment. World...,DestinationLancaster,LA_Lancaster_Performing_Arts_Center
...,...,...,...,...,...
139351,50,"Fun, Educational and Totally Worth a Visit",With the huge crowds on the road and the high ...,BolsaChicaMoonDancer,LA_Aquarium_of_the_Pacific
139352,50,"A excellent collection of animals, and nice folks","I wonder, if the individual from Ohio was at a...",FarAway6039,LA_Aquarium_of_the_Pacific
139355,50,Great for the kids,Took my 6yr old daughter there and she had the...,Experience10186,LA_Aquarium_of_the_Pacific
139356,40,Good Variety,This aquarium offers a nice selection of anima...,LIBRA17,LA_Aquarium_of_the_Pacific
139357,40,Good production,The Theater: Small but intimate. They sell sna...,ILoveFoodComa,LA_24th_Street_Theatre_url

In [42]:
is_NaN = pos_reviews2. isnull()
row_has_NaN = is_NaN. any(axis=1)
rows_with_NaN = pos_reviews2[row_has_NaN]
print(rows_with_NaN)

        stars                                              title text user  \
3212       40                           Great for renting kayaks  NaN  NaN
3213       50                   Great place to learn watersports  NaN  NaN
3214       40  Good hands-on learning for young kids and teen...  NaN  NaN
3215       40  Good Place to Learn Sailing, Kayaking, Rowing,...  NaN  NaN
3272       40  A small museum with a sampling of meteorites f...  NaN  NaN
...       ...                                                ...  ...  ...
129703     40                      See a great University campus  NaN  NaN
129704     50                                         Go Bruins!  NaN  NaN
129705     40                                 Nice visit to UCLA  NaN  NaN
129706     50                                 A walk in the park  NaN  NaN
129707     40                                   beautiful campus  NaN  NaN

                                               attraction
3212               LA_usernamesUCLA_Marina_Aquatic_Center
3213               LA_usernamesUCLA_Marina_Aquatic_Center
3214               LA_usernamesUCLA_Marina_Aquatic_Center
3215               LA_usernamesUCLA_Marina_Aquatic_Center
3272                   LA_usernamesUCLA_Meteorite_Gallery
...                                                   ...
129703  LA_usernamesUniversity_of_California_Los_Angel...
129704  LA_usernamesUniversity_of_California_Los_Angel...
129705  LA_usernamesUniversity_of_California_Los_Angel...
129706  LA_usernamesUniversity_of_California_Los_Angel...
129707  LA_usernamesUniversity_of_California_Los_Angel...

[1043 rows x 5 columns]

In [43]:
pos_reviews3=pos_reviews2.dropna()

In [44]:
pos_reviews3

,stars,title,text,user,attraction
0,50,Outstanding Performing Arts Venue,LOVE the LPAC. It is an outstanding venue for ...,Kathleen M,LA_Lancaster_Performing_Arts_Center
1,50,Great show!,We had a great time seeing a lot of different ...,L. E. Cox,LA_Lancaster_Performing_Arts_Center
2,50,Wonderful Theater,We've been attending LPAC for many years for p...,Crystal R,LA_Lancaster_Performing_Arts_Center
3,50,An Amazing Performing Arts Center in the High ...,The LPAC is a remarkable experience. The LPAC ...,Archie M,LA_Lancaster_Performing_Arts_Center
4,50,State of the Art,State of the art building and equipment. World...,DestinationLancaster,LA_Lancaster_Performing_Arts_Center
...,...,...,...,...,...
139351,50,"Fun, Educational and Totally Worth a Visit",With the huge crowds on the road and the high ...,BolsaChicaMoonDancer,LA_Aquarium_of_the_Pacific
139352,50,"A excellent collection of animals, and nice folks","I wonder, if the individual from Ohio was at a...",FarAway6039,LA_Aquarium_of_the_Pacific
139355,50,Great for the kids,Took my 6yr old daughter there and she had the...,Experience10186,LA_Aquarium_of_the_Pacific
139356,40,Good Variety,This aquarium offers a nice selection of anima...,LIBRA17,LA_Aquarium_of_the_Pacific
139357,40,Good production,The Theater: Small but intimate. They sell sna...,ILoveFoodComa,LA_24th_Street_Theatre_url

In [ ]:
li = []

for user in ist_users:
    test=pos_reviews3[pos_reviews3.user.str.contains(user)] 
    li.append(test)
    
frame = pd.concat(li, axis=0, ignore_index=True)
frame2=frame.drop(['text', 'title', 'stars'], axis=1)
frame3=frame2.groupby('attraction').count()
frame4=frame3.sort_values(by='user', ascending=False)
frame4.head(10)

In [ ]:
frame4

In [323]:
reviews2=reviews.dropna(axis=0, how='any') #remove duplicate rows (just in case)
reviews2

,stars,title,text,user,attraction
0,50,Outstanding Performing Arts Venue,LOVE the LPAC. It is an outstanding venue for ...,Kathleen M,LA_Lancaster_Performing_Arts_Center
1,50,Great show!,We had a great time seeing a lot of different ...,L. E. Cox,LA_Lancaster_Performing_Arts_Center
2,50,Wonderful Theater,We've been attending LPAC for many years for p...,Crystal R,LA_Lancaster_Performing_Arts_Center
3,50,An Amazing Performing Arts Center in the High ...,The LPAC is a remarkable experience. The LPAC ...,Archie M,LA_Lancaster_Performing_Arts_Center
4,50,State of the Art,State of the art building and equipment. World...,DestinationLancaster,LA_Lancaster_Performing_Arts_Center
...,...,...,...,...,...
62399,50,"A excellent collection of animals, and nice folks","I wonder, if the individual from Ohio was at a...",FarAway6039,LA_Aquarium_of_the_Pacific
62400,20,Warning! Warning! Tourist Trap Ahead!,"First, know that I am a big fan of aquariums--...",Pennfield,LA_Aquarium_of_the_Pacific
62401,20,Boring,"If you have been to Sea World, Boston's aquari...",MelodyMontreal,LA_Aquarium_of_the_Pacific
62402,50,Great for the kids,Took my 6yr old daughter there and she had the...,Experience10186,LA_Aquarium_of_the_Pacific
62403,40,Good Variety,This aquarium offers a nice selection of anima...,LIBRA17,LA_Aquarium_of_the_Pacific

In [312]:
reviews['stars'] / reviews.groupby('attraction')['stars'].transform('sum')

0        0.026178
1        0.026178
2        0.026178
3        0.026178
4        0.026178
           ...
62399    0.000395
62400    0.000158
62401    0.000158
62402    0.000395
62403    0.000316
Name: stars, Length: 62404, dtype: float64

In [340]:
reviews.groupby('attraction')['stars'].transform('sum')

0          1910
1          1910
2          1910
3          1910
4          1910
          ...
62399    126430
62400    126430
62401    126430
62402    126430
62403    126430
Name: stars, Length: 62404, dtype: int64

In [417]:
c = reviews.groupby('attraction')['stars'].sum().rename("count")
total=c.groupby(['attraction']).sum()
maximum=(reviews.groupby('attraction')['stars'].count())*50
av=total/maximum
import numpy as np
r4=np.log(reviews3+1)
r5=np.log(r4+1)
r5a=np.log(r5+1)
r5b=np.log(r5a+1)
r5c=np.log(r5b+1)
r5d=np.log(r5c+1)
r6=np.log(r5d+1)
r6['rating']=av
r6['score']=r6['user'] * r6['rating']
r7=r6.sort_values(by='score', ascending=False)
r7.head(10)

,user,rating,score
attraction,,,
LA_The_Huntington_Library_Art_Museum_and_Botanical_Gardens_url,0.371879,0.963305,0.358233
LA_Norton_Simon_Museum,0.368907,0.959551,0.353985
LA_The_Getty_Center_url,0.368513,0.955722,0.352197
LA_The_Huntington_Desert_Garden_url,0.356654,0.977778,0.348729
LA_Glass_Church_Wayfarers_Chapel_url,0.362504,0.961798,0.348656
LA_26_Mile_Bike_Path,0.369131,0.941138,0.347404
LA_The_Gamble_House,0.365217,0.943717,0.344662
LA_Frederick_R_Weisman_Art_Foundation,0.351903,0.977011,0.343813
LA_Southern_California_Soaring_Academy_url,0.349108,0.984615,0.343737
LA_Rose_Parade,0.358282,0.956842,0.342819

In [414]:
c = frame.groupby('attraction')['stars'].sum().rename("count")
total=c.groupby(['attraction']).sum()
maximum=(frame.groupby('attraction')['stars'].count())*50
av=total/maximum
import numpy as np
r4=np.log(frame3+1)
r5=np.log(r4+1)
r5a=np.log(r5+1)
r5b=np.log(r5a+1)
r5c=np.log(r5b+1)
r5d=np.log(r5c+1)
r6=np.log(r5d+1)
#r6=r4
r6['rating']=av
r6['score']=r6['user'] * r6['rating']
ist_r7=r6.sort_values(by='score', ascending=False)
ist_r7.head(10)

,user,rating,score
attraction,,,
LA_The_Huntington_Library_Art_Museum_and_Botanical_Gardens_url,0.346353,0.988000,0.342197
LA_Norton_Simon_Museum,0.347573,0.967857,0.336401
LA_Santa_Monica_State_Beach,0.349982,0.935211,0.327307
LA_26_Mile_Bike_Path,0.342181,0.954286,0.326539
LA_Aquarium_of_the_Pacific,0.348952,0.931250,0.324961
LA_Santa_Monica_Public_Library,0.329674,0.973333,0.320883
LA_Rodeo_Drive,0.346780,0.919231,0.318771
LA_Naples_Island,0.342181,0.931429,0.318718
LA_El_Dorado_Nature_Center,0.332738,0.955556,0.317950
LA_Third_Street_Promenade,0.356396,0.891892,0.317867

In [413]:
c = frame.groupby('attraction')['stars'].sum().rename("count")
total=c.groupby(['attraction']).sum()
maximum=(frame.groupby('attraction')['stars'].count())*50
av=total/maximum
import numpy as np
r4=np.log(frame3+1)
r5=np.log(r4+1)
r5a=np.log(r5+1)
r6=np.log(r5+1)
#r6=r4
r6['rating']=av
r6['score']=r6['user'] * r6['rating']
ist_r7=r6.sort_values(by='score', ascending=False)
ist_r7.head(10)

,user,rating,score
attraction,,,
LA_The_Huntington_Library_Art_Museum_and_Botanical_Gardens_url,0.953860,0.988000,0.942413
LA_Norton_Simon_Museum,0.962415,0.967857,0.931480
LA_The_Queen_Mary,1.037628,0.883146,0.916377
LA_Santa_Monica_State_Beach,0.979564,0.935211,0.916099
LA_Third_Street_Promenade,1.026908,0.891892,0.915890
LA_Aquarium_of_the_Pacific,0.972187,0.931250,0.905349
LA_26_Mile_Bike_Path,0.925237,0.954286,0.882941
LA_Rodeo_Drive,0.956848,0.919231,0.879565
LA_Naples_Island,0.925237,0.931429,0.861793
LA_Six_Flags_Magic_Mountain,0.912001,0.920000,0.839041

In [415]:
r6.sort_values(by='user', ascending=False)

                                        user    rating     score
attraction
LA_The_Queen_Mary                   0.357802  0.883146  0.315991
LA_Third_Street_Promenade           0.356396  0.891892  0.317867
LA_Santa_Monica_State_Beach         0.349982  0.935211  0.327307
LA_Aquarium_of_the_Pacific          0.348952  0.931250  0.324961
LA_Norton_Simon_Museum              0.347573  0.967857  0.336401
...                                      ...       ...       ...
LA_Industry_Hills_Golf_Club_url     0.234307  0.800000  0.187446
LA_International_City_Theatre       0.234307  1.000000  0.234307
LA_San_Antonio_Winery_url           0.234307  1.000000  0.234307
LA_Joe_Davies_Heritage_Airpark_url  0.234307  0.800000  0.187446
LA_Museum_of_Art_History_MOAH       0.234307  1.000000  0.234307

[220 rows x 3 columns]

In [395]:
frame4.head(10)

                                                    user
attraction
LA_The_Queen_Mary                                    178
LA_Third_Street_Promenade                            148
LA_Santa_Monica_State_Beach                           71
LA_Aquarium_of_the_Pacific                            64
LA_Norton_Simon_Museum                                56
LA_Rodeo_Drive                                        52
LA_The_Huntington_Library_Art_Museum_and_Botani...    50
LA_26_Mile_Bike_Path                                  35
LA_Naples_Island                                      35
LA_Long_Beach_Waterfront                              35

In [291]:
reviews2=reviews.drop(['text', 'title', 'stars'], axis=1)
reviews3=reviews2.groupby('attraction').count()
reviews4=reviews3.sort_values(by='user', ascending=False)
reviews4.head(10)

                                                    user
attraction
LA_Third_Street_Promenade                           4127
LA_Santa_Monica_State_Beach                         4094
LA_Six_Flags_Magic_Mountain                         4015
LA_Rodeo_Drive                                      3154
LA_Aquarium_of_the_Pacific                          2878
LA_The_Queen_Mary                                   2709
LA_The_Huntington_Library_Art_Museum_and_Botani...  2251
LA_Venice_Beach_Boardwalk_url                       2050
LA_Santa_Monica_Pier                                1374
LA_26_Mile_Bike_Path                                1213

In [292]:
frame3=frame2.groupby('attraction').count()
frame4=frame3.sort_values(by='user', ascending=False)
frame4.head(10)

                                                    user
attraction
LA_The_Queen_Mary                                    250
LA_Third_Street_Promenade                            174
LA_Santa_Monica_State_Beach                           79
LA_Aquarium_of_the_Pacific                            71
LA_Rodeo_Drive                                        65
LA_Norton_Simon_Museum                                56
LA_The_Huntington_Library_Art_Museum_and_Botani...    51
LA_Naples_Island                                      37
LA_Six_Flags_Magic_Mountain                           36
LA_Long_Beach_Waterfront                              36

In [262]:
options = webdriver.ChromeOptions()
#options.add_argument("start-maximized");
options.add_argument("disable-infobars")
options.add_argument("--disable-extensions")
driver = webdriver.Chrome("/home/matthew/Downloads/chromedriver", chrome_options=options)
driver.get("https://www.tripadvisor.com/Attraction_Review-g32468-d4913474-Reviews-Hsi_Lai_Temple-Hacienda_Heights_California.html")

<ipython-input-262-ce6d735c9f49>:5: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome("/home/matthew/Downloads/chromedriver", chrome_options=options)

In [224]:
l2[l2.user.str.contains("princesslollipop")]

,stars,title,text,user,review_category
10,50,Cold but lovely,What a wonderful place to spend a few hours wi...,princesslollipop,Positive

In [ ]:
usernames3 = []

for string in usernames2:
    string1 = str(string) 
    if "https://" in string1:        
        new_string = string1.replace("https://www.tripadvisor.com/Profile/", "")
        usernames3.append(new_string)
    else:
        usernames3.append(string1)